/* Hide scrollbars but keep scrolling enabled */
* {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none; /* Chrome/Safari */
}

main {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	gap: 10px;
}

.toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}

.search-header {
	z-index: 10;
	position: relative;
	width: 100%;
}

.search-input {
	width: 100%;
	padding-left: 30px !important;
	padding-right: 2rem;
}

.search-icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 11px;
	top: 0;
	bottom: 0;
	color: var(--framer-color-text-tertiary);
}

.insert-type-dropdown {
	width: 95px;
	user-select: none;
}

.payment-card-logos {
	overflow: auto;
}

.vectors-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(100px, calc(100% / 5)), 1fr));
	gap: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 15px;
	overflow: auto;
}

.vector-tile {
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition:
		background 0.1s ease-in-out,
		color 0.1s ease-in-out;
	aspect-ratio: 1;
	cursor: pointer;
	user-select: none;
	position: relative;
	--bg-opacity: 0.1;
}

.vector-tile:hover {
	--bg-opacity: 0.2;
}

.vector-tile.no-bg-color {
	background: var(--framer-color-bg-secondary);
	color: var(--framer-color-text-secondary);
}

.vector-tile.no-bg-color:hover {
	background: var(--framer-color-bg-tertiary);
	color: var(--framer-color-text-primary);
}

.vector-tile-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	opacity: var(--bg-opacity);
}

.vector-svg-container {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.vector-svg {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vector-svg svg {
	max-width: 100%;
	max-height: 40px;
}

.vector-name-container {
	width: 100%;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vector-name {
	text-align: center;
	overflow: hidden;
	width: 100%;
	user-select: none;

	/* Allow wrapping, but cap to two lines for a tidy grid */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2;
}
